<style>
    .item, .item a {
        width: 100px;
        background-color: #000;
        color: #fff;
        text-decoration: none;
        font-family: Arial, sans-serif;
        text-align: center;
        display: inline-block;
    }
</style>

<div>
    <span class="item"><a href="/vault/logs/0">Logs</a></span>
    <span class="item"><a href="/vault/places">Places</a></span>
    <span class="item"><a href="/vault/stats">Statistics</a></span>
    <span class="item"><a href="/vault/leave_vault">Log out</a></span>
</div>
